    body {
      
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: #fff7f0;
      color: #3b1f00;
      cursor: pointer;
    }
@media(max-width:1000px){
body{
background-color: #3b1f00;
 

}

}
@media(max-width:500px){
body{
  background-color: antiquewhite;
}

}
@font-face {
  font-family: sana;
  src: url(Sprintura\ Demo.otf);
}
@font-face {
  font-family: modak;
  src: url(Modak-Regular.ttf);
}

ul{
display: flex;
align-items: center;
justify-content: space-between;
}
ul a{
font-size: 20px;
      color: #3b1f00;

}

li{
  font-weight: bold;
list-style: none;
display: inline-block;
margin-left: 60px;
margin-right: 200px;
}

  .hero{
display: flex;
justify-content: center;
  }
.para{
font-size: 60px;
  font-family: modak;

}
.img{
height: 360px;

}
p1{
text-align: center;

}

.btn1{
background-color: red;
color: white;
border: none;
font-size: 15px;
padding: 10px 90px 15px ;
margin: 20px;
border-radius: 20px;
}
.btn1:hover{
background-color: rgb(116, 4, 4);
cursor: pointer;
}
.btn2:hover:hover{
background-color: rgb(224, 224, 224);
cursor: pointer;
}
.btn2{
color:  #3b1f00;
border: 1 px solid #3b1f00;
font-size: 15px;
padding: 10px 80px 15px ;
border-radius: 20px;
}
.banner{
background-color: white;
display: inline-block;
border-radius: 30px;

}
.img1{
width: 550px;
margin-left: 60px;
margin-top: 0;

}
.img2{
width: 550px;
margin-left: 60px;
margin-top: 20PX;
}

  .b{
border-radius: 20px;
color:  #3b1f00;
font-size: 15px;
  }
  .b:hover{
background-color: rgb(184, 184, 184);

  }

.img-container{
display: flex;
height: 60px;
margin-left: 90PX;
gap: 50PX;
}


h2{
  font-family: sana;
}
