    body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: #fff7f0;
      color: #3b1f00;
    }


h1{
text-align: center;

  }
  .p{
margin: 50px;

  }
  .hero{
display: flex;
justify-content: center;
gap: 30px;
margin: 30px;

  }
.para{
font-size: 2rem;

}


.btn1{
background-color: red;
color: white;
border: none;
font-size: 15px;
padding: 10px 80px 15px ;
margin: 20px;
border-radius: 20px;
}
.btn2{
background-color: red;
color: white;
border: none;
font-size: 15px;
padding: 10px 80px 15px ;
margin: 20px;
border-radius: 20px;
}

 .img{
width: 800px;

 }
 .img2{
display: flex;
gap: 20px;
 }